body {
    background: #3f51b5;
    /*background-image: url('images/home_bg.png');*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: cursive;
}

#game h1 {
    color: #ffffff;
    font-size: 100px;
}

.welcome_message {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

#welcome_message h2 {
    color: #ffffff;
    font-size: 40px;
}

#player-name {
    color: Yellow;
    font-size: 45px;
    font-family: "Comic Sans MS", serif;
}

.center_element {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: red;
    font-size: 40px;
}

.center_form {
    position: fixed;
    left: 40%;
    padding-top: 20px;
    display: flex;
    color: #ffffff;
    font-size: 20px;
}

.games_list {
    position: fixed;
    left: 30%;
    padding-top: 60px;
    display: flex;
    color: #ffffff;
    font-size: 20px;
}

#score {
    color: blue;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #ffffff;
    font-size: 100px;
}

#centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 40px;
}

#centered h1 {
    color: #ffffff;
    font-size: 40px;
}

#hideMe {
    animation: numsAnimation 0s 1000ms forwards;
    visibility: visible;
}

@keyframes numsAnimation {
    to {
        visibility: hidden;
    }
}

#showMe {
    animation: formAnimation 0s 1000ms forwards;
    visibility: hidden;
}

@keyframes formAnimation {
    to {
        visibility: visible;
    }
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    color: red;
}

#error-color {
    color: yellow;
}
